.vscode
.temp
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
C++/ATerm/Test.cpp
test.ini

*.mp4
PY/ETerm/Output.xlsx
PY/ETerm/Semilleros_2020.xlsx
__pycache__
*.exe
PY/ETerm/FaceScrapper/FriendScrapper.py
PY/ETerm/FaceScrapper/Graphs
PY/ETerm/FaceScrapper/AdjacencyLists
